
@media screen and (max-width:1100px) {

    .pict{
        width: 33%;
    }

    .container3{
        flex-wrap: wrap;
        
    }

    .card{
        width: 45%;
        margin: 10px;

    }
}
@media screen and (max-width: 768px) {
    #navBar{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .pict{
        width: 100%;
    }
    .container3{
        flex-wrap: wrap;
        
    }

    .card{
        width: 45%;
        margin: 10px;

    }
}
