* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body,
html {
  height: 100%;
}
nav {
  display: flex;
  align-items: center;
  margin: auto;
  background: rgb(41, 2, 120);
  background: linear-gradient(
    90deg,
    rgba(41, 2, 120, 1) 0%,
    rgba(173, 20, 255, 1) 100%,
    rgba(0, 125, 255, 1) 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90%;

  border-radius: 10px;
}

.logo {
  width: 30%;
}
.logoimg {
  display: flex;
  width: 60px;
  height: 60px;
}
.logoimg img {
  width: 100%;
}
.navlinks {
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: center;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
}
ul li a {
  padding: 1vw 2vw;
  text-decoration: none;
  color: aliceblue;
  margin: 1vw;
  border-radius: 10px;
  background: rgb(0, 125, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 125, 255, 1) 0%,
    rgba(255, 114, 20, 1) 0%,
    rgba(224, 14, 92, 1) 100%
  );
}
.containerbody {
  width: 90%;
  margin: auto;
  height: 30vh;
}
/* //hero image// */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(
      rgba(232, 131, 245, 0.5),
      rgba(70, 5, 192, 0.5)
    ),
    url("img/business-woman-hands-typing-on-laptop-computer-wit-2021-08-30-21-08-44-utc.jpg");

  /* Set a specific height */
  height: 100%;
  width: auto;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* job description bölümü */
.text {
  text-align: center;
}
.text h1 {
  font-size: 4vw;
  margin: 2vw 0;
}
.text h5 {
  font-size: 2vw;
  font-weight: 500;
  text-transform: capitalize;
}
.image {
  width: 50%;
  margin: auto;
}
.image img,
.image1 img {
  width: 100%;
}
.image1 img {
  margin-top: -4vw;
}
/* about-me bölümü */
.about-me {
  display: flex;
  width: 100%;
  height: 70vh;
  background-color: rgb(70, 5, 192);
  text-align: center;
  align-items: center;
  color: aliceblue;
  padding-bottom: 50px;
}
.about-me h3 {
  margin: auto;
  width: 80%;
  font-size: 4vw;
  margin-bottom: 15px;
}
.about-me p {
  margin: auto;
  width: 80%;
  font-size: 2vw;
  font-weight: 400;
}
